#featuring
  %section.section#tabs
    %ul
      %li
        %a{:href=>"#what"}
          What?
      %li
        %a{:href=>"#how"}
          How?
      %li
        %a{:href=>"#who"}
          Who?

    #what
      %h3 What we offer
      .portfolio-item
        %h4 Web & Mobile Design
        =image_tag 'compass-promo.png',:class => 'promo-image'
        %p
          Web presence matters in today's internet and mobile driven markets.
          At caultive we produce designs for both mobile and web platforms that speak to your target markets.
          Not only do we do extensive research in your market, we ensure that our designs follow best usability practices for your clients so that they can find the information that they are looking for.

      .portfolio-item
        %h4 Web Development
        =image_tag 'laptop-promo.png',:class => 'promo-image'
        %p
          Whether you have a web application project for the world or your internal network,
          caultive can rapidly develop and deploy an application that will answer to your requirements.
          Using the most modern of technologies we ensure that your project is delivered on time and ahead of your competition.
      .portfolio-item
        %h4 Mobile Development
        =image_tag 'mobile-promo.png',:class => 'promo-image'
        %p
          Modern companies understand that customers  now have access to information in a number of places,
          and the fastest growing is the mobile-web and mobile-app.
          At caultive we can ensure that your message and product is readily available in dynamic applications,
          covering major mobile platforms.
    #how
      %h3 How we offer it
      =image_tag 'code_preview.png', :class =>"rt promo-pull"
      .portfolio-item
        %h4 Modern Methods
        =image_tag 'ruby-promo.png', :class => 'promo-image'
        %p
          As the internet grows, so do the technologies supporting it. This is why we constantly keep our methods flexible with the languages and frameworks that best answer to our customers needs.
          We are primarily a Ruby / Ruby on Rails development shop, but this has not stopped us from working with legacy applications and and other frameworks for our clients.

      .portfolio-item
        %p
          Using non-OS or mobile specific development tools, allows for a solution to be delivered across multiple platforms simultaneously and effortlessly for our clients.
          %br
        %p
          This means more bang for your buck and reaching a bigger client base across multiple platforms.

    #who
      %h3 Who do we offer it to
      .portfolio-item
        %h4 Start-Ups
        =image_tag 'startup.png', :class => 'promo-image'
        %p
          Have a great idea for the web or mobile devices? We can help you bring your idea/product to the rest of the world if a fast and efficient manner. We not only do your design and development, we can
          also help with a content strategy that will reach your target market.

      .portfolio-item
        %h4 Non-Governmentals
        =image_tag 'ngo.png', :class => 'promo-image'
        %p
          We have also dealt with small local NGOs who wanted a web presence, as well as international organizations and governments implementing small and large scale research projects.
      .portfolio-item
        %h4 Established Businesses
        =image_tag 'corporation.png', :class => 'promo-image'
        %p
          Launching a new product? Want to offer your services on the world wide web? Or looking for a site redesign to improve your web presence? At caultive we deal with both small and large business to improve their presence on the web.
          =link_to 'Contact us','#contact'
          below, and see how we can help your business.

%section.section
  %a{id: 'projects'}
    %h1 Built by Us

  .well
    #built-by-us
      .section-column.rt
        =image_tag 'bgp_promo.png', title:"Big Game Parks site redesign", class: "built-image"
        %h4 Big Game Parks Site Relaunch
        %p
          In partnership with Truth Advertising, using a legacy CMS, we were able to work with the amazing people at Big Game Parks to relaunch their site so that it closer fits their brand and their message.

      .section-column.rt
        =image_tag 'icap_promo.png', title:"Web App design/development" , class: "built-image"
        %h4 SHIMS Research Database
        %p
          ICAP Swaziland needed a system to would take all of their field data and make it accessible to their office staff. On top it also needed to generate reports on the progress of the research. Working closely with them, we were implement a solution that answered to their needs up until the end of the research.

      .section-column.rt
        =image_tag 'rosecraft_promo.png', title:"Site Redesign" , class: "built-image"
        %h4 Rosecraft Site Redesign
        %p
          Rosecraft wanted a site that matched their new brand identity, a minimalist design that was easy to understand. Working closely with the company's owner we were able to construct a site and back-end that has made it easy for the owner and her staff to manage.
%section.section
  %a{id: 'clients'}
    %h1 Clients
  .well.clients

    =image_tag 'icap.png', :title=> "ICAP Swaziland"
    =image_tag 'undp.png',  :title=> "UNDP Swaziland"
    =image_tag 'bgp.png' ,:title=> "Big Game Parks"
    =image_tag 'acfor.png',:title=> "Acfor"

%section.section
  %a{id: 'about'}
    %h1 About Us
  .well
    .section-column.rt
      %h4 Contact Details
      %dl
        %dt Office
        %dd
          Office 305
          %br
          Mbabane House
          %br
          Mahlobothla Street
          %br
          Mbabane, HhoHho
          %br
          Swaziland
        .cf
        %dt Phone
        %dd +268 7602 2189
        .cf
        %dt Email
        %dd
          =mail_to "info@caultive.com", "info@caultive.com", :encode => :hex
        .cf
        %dt Twitter
        %dd
          =link_to '@caultive', "http://twitter.com/caultive" ,:target => :new
    .section-column
      %p
        =image_tag 'bulb_black.png', :class => 'promo-image'

        Caultive Solutions is a software and web consultancy based in Mbabane, Swaziland. We have worked with both local and international clients. We have business partners and associates based locally in Swaziland, as well as internationally; including Canada and South Africa. You can request one of our agents to contact you either through the methods to your right, or the contact form below.

%section.section
  %a{id: 'contact'}
    %h1 Contact Us
  .well
    %h4 Leave us a message and we will get back to you as soon as one of our agents is available to contact you.
    =simple_form_for 'contact_us', :remote => true, :url => "/pages/submit_contact", :html=>{:method=> :post,:class=>"form-horizontal",:id=>"contactus"} do |f|
      =f.input "name", as: :string , input_html: {class: "input-xxlarge"},:label=> "Your name"
      .cf
      =f.input "company", as: :string,:label=> "Your company" , input_html: {class: "input-xxlarge"}
      .cf
      =f.input "email", as: :string,:label=> "Your e-mail", input_html: {class: "input-xxlarge"}
      .cf
      =f.input "message", as: :text, input_html: {rows: 8,class:"input-xxlarge"},:label=> "Message"
      .cf
      =f.hidden_field "check_me", :value => 0
      =f.submit "Send", wrapper_html: {class:"rt"}
